root = .
search-path = build

filter = src/*
filter = include/*
filter = examples/*
# NO! filter = tests/*
exclude = tests

exclude-directories = build/_deps
exclude-directories = coverage
exclude-directories = docs
exclude-directories = build/stagedir
exclude-directories = papers
exclude-directories = infra
exclude-directories = .cache
exclude-directories = .direnv
exclude-directories = .venv

gcov-ignore-parse-errors = all
print-summary = yes

html-details = build/debug/gcovr.html

# cobertura-pretty = yes
# cobertura = build/debug/cobertura.xml
